<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include ('common/head.ejs') %>
  <title>Raid not found</title>
</head>
<body>
  <%- include ('common/header.ejs') %>
  <div class="container" style="width:80vw; height:80vh; margin: 5vh 10vw; display: table; min-height: 400px;">
    <div style="display: table-cell; vertical-align: middle; text-align: center;">
      <h1>
        <b>404</b> Not Found
      </h1>
      <a href='/' class='btn btn-outline-primary btn-lg'>Go back to home</a>
    </div> 
  </div>
  <%- include ('common/footer.ejs') %>
</body>
</html>