<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include ('common/head.ejs') %>
  <title>Raid Expense</title>
</head>
<body style="min-height: 400px;">
  <%- include ('common/header.ejs') %>
  <div class="container" style="width:80vw; height:70vh; margin: 5vh 10vw; display: table;">
    <div style="display: table-cell; vertical-align: middle; text-align: center;">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="https://*.classic.warcraftlogs.com/reports/HPWcjVM92rGRkF3K or HPWcjVM92rGRkF3K" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>
      </div>
    </div>
  </div>
    
  <%- include ('common/footer.ejs') %>
</body>
</html>